<html><head>
<title>Server Stats for Samsung Problem Statement</title>
<META HTTP-EQUIV="refresh" CONTENT="15">
</head>
<body>

<style media="screen" type="text/css">
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -158px;
    margin-top: -490px; 
}

h1
        {
        color: blue;
	margin-left: 458px;
        font-size: 36pt;
        font-weight: normal;
        line-height: 80px;
        text-shadow: rgba(0,0,0,0.7) 1px 1px 2px;
        }
</style>

<h1>Server Statistics</h1>

<table border="0" cellpadding="1" cellspacing="1">
  <tbody>
    <tr>
      <td><img src="http://52.8.27.32/render?target=samsung.cpu-0.cpu-{system,user}&height=300&width=600&title=CPU%20Usage"></td>
      <td><img src="http://52.8.27.32/render/?target=samsung.load.load.{shortterm,midterm,longterm}&height=300&width=600&title=Load%20Average"></td>
    </tr>
    <tr>
      <td><img src="http://52.8.27.32/render/?target=samsung.memory.memory-{free,used}&height=300&width=600&title=Memory"></td>
      <td><img src="http://52.8.27.32/render/?target=samsung.interface-eth0.if_packets.{rx,tx}&height=300&width=600&title=Network%20Packets"></td>
    </tr>
  </tbody>
</table>
		<p>

</body>
</html>
